body {
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
    background-image: url('images/stardew-night-background.jpg');
    background-color: #20213A;
    background-size: cover;
    background-attachment: fixed;
}

p, strong {
    font-size: 14px;
}

h2:not(.readingweek-h2-title) {
    text-align: center;
}

a {
    color: #5F4842;
    text-decoration: none;
}
a:hover {
    color: #c39183;
    text-decoration:underline
}

.question-answer {
    background-color: #20213A;
    padding: 1%;
    margin: 1%;
    border: 5px solid #20213A;
    border-radius: 5px;
    box-shadow: 5px 10px #FFFFFF;
}

#title {
    font-family: 'Lucida Handwriting';
}

#random-area {
    text-align: center;
}

#weekly-reading {
    padding: 0 5%;
}

#frog-img:hover {
    rotate: 180deg;
    transition-duration: 2s;
}

#frog-img {
    transition-duration: 2s;
}