body {
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
    background-image: url('images/stardew-night-background.jpg');
    background-color: #20213A;
    background-size: cover;
    background-attachment: fixed;
    cursor: url("images/cat-neutral.png"), auto;
}

body.flipped {
    cursor: url("images/cat-happy.png"), auto;
}

p, strong {
    font-size: 14px;
}

h2:not(.readingweek-h2-title) {
    text-align: center;
}

a {
    color: #7b79a3;
    text-decoration: none;
}
a:hover {
    color: rgb(184, 177, 233);
    text-decoration:underline
}

.question-answer {
    background-color: #20213A;
    padding: 1%;
    margin: 1%;
    border: 5px solid #20213A;
    border-radius: 5px;
    box-shadow: 5px 10px #FFFFFF;
}

#header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.inside-header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: 'Lucida Handwriting';
}

#weekly-reading {
    padding: 0 5%;
}

#frog-img:hover {
    rotate: 3turn;
    transition-duration: 2s;
}

#frog-img {
    width: 300px;
    transition-duration: 2s;
}