body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(59, 126, 69)
}
#sploot {
    width:50%;
}
#luigi-div{
    display: flex;
}
#player-div{
    display: flex;
}
.player-card , .luigi-card {
    margin: 5px;
}