body{
    background-color: rgb(59, 126, 69);
    display: flex;
    justify-content:center;
    align-items: center;
    align-items: flex-start;
}
#sploot {
    width:50%;
}

#p-coins{
    font-size: 25pt;
    margin: 10px 100px;
}

#bet-area{
    margin: 10px 100px;
}
#button-bet{
    font-size: 20pt;
    width: 100px;
    height: 50px;
}

#game-area{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#button-replace-card{
    font-size: 20pt;
    padding: 10px;
}

#luigi-div{
    display: flex;
}
#player-div{
    display: flex;
}
.player-card , .luigi-card {
    margin: 5px;
}